@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media only screen and (orientation: landscape) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8b0000;
    background-color: #080E2F;
    color: wheat;
    transition: 0.2s all ease-in;
    gap: 1vh;
  }
  * body .nav_section {
    display: flex;
    justify-content: space-between;
    gap: 15vw;
    position: sticky;
  }
  * body .nav_section .courdevs_slide_menu_logo #courdevs_top_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    margin: 3vh 4vw 0 0vw;
    border: none;
    border-radius: 5px;
    padding: 3vw;
    background-color: #080E2F;
    opacity: 0;
  }
  * body .nav_section .courdevs_slide_menu_logo #courdevs_top_logo.appear {
    opacity: 1;
    transition: 0.2s all ease-in;
  }
  * body .nav_section .the_top_nav {
    display: flex;
    justify-content: space-between;
    background-color: #080E2F;
    margin: 5vh 0 0 0;
    top: 0;
    z-index: 98;
    height: 25vh;
    transition: 2s all ease-in-out;
  }
  * body .nav_section .the_top_nav .you {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 0.5vh;
    margin: 6vh 0 0 -45vw;
    opacity: 0;
    width: 30vw;
    transition: 0.5s all ease-in-out;
  }
  * body .nav_section .the_top_nav .you #name {
    color: white;
    font-size: 3vw;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin: 0 0 0 0vw;
  }
  * body .nav_section .the_top_nav .you .desc_menu_box {
    background-color: #36395D;
    background-color: white;
    background-color: #080E2F;
    padding: 0 1vw 0 1vw;
    border-radius: 5px;
    border: 2px solid white;
  }
  * body .nav_section .the_top_nav .you .desc_menu_box #job_description {
    color: white;
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
  }
  * body .nav_section .the_top_nav .hamburgermobile .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #080E2F;
    margin: 12vh 0vw 0 50vw;
  }
  * body .nav_section .the_top_nav .hamburgermobile .burger #top_hamburger {
    position: relative;
    width: 6vw;
    height: 6vw;
    transition: 1s all ease-in-out;
  }
  * body .nav_section .the_top_nav .hamburgermobile .burger #top_hamburger.dissapear {
    opacity: 0;
    transition: 0.5s all ease-in-out;
  }
  * body .nav_section .the_top_nav .hamburgermobile .burger #hamburger_close {
    position: absolute;
    width: 15vw;
    height: 15vw;
    opacity: 0;
  }
  * body .nav_section .the_top_nav .hamburgermobile .burger #hamburger_close.appear {
    transition: 0.5s all ease-in;
    opacity: 1;
    z-index: 100;
    background-color: #080E2F;
  }
  * body .nav_section .the_top_nav.dissapear {
    opacity: 0;
    transition: 1s all ease-out;
  }
  * body .nav_section .the_top_nav.appear {
    opacity: 1;
    transition: 0.7s all ease-in;
  }
  * body #home_page .home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 120vh;
    margin: 4vh 0 0 0;
  }
  * body #home_page .home_page #courdevelops_logo {
    width: 25vw;
    height: 25vw;
  }
  * body #home_page .home_page .name {
    font-size: 5vw;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  * body #home_page .home_page .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    color: #080E2F;
    width: 50vw;
    height: 11vw;
    background-color: white;
    border-radius: 5px;
    margin: 5vh 0 0 0;
    padding: 3vh 1vh 3vh 1vh;
  }
  * body #home_page .home_page .motto {
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    margin: 12vh 0 0 0;
  }
  * body #home_page .learn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 3vw;
    background-color: #36395D;
    border-radius: 5px;
    padding: 3vh 1vh 3vh 1vh;
    margin: 20vh 0 10vh 0;
  }
  * body #home_page .learn_more a {
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  * body #about_section .about_section {
    background-color: #00313E;
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  * body #about_section .about_section .section_title {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
  }
  * body #about_section .about_section .about_content {
    margin: 15vh 0 0 12vw;
    width: 70%;
  }
  * body #about_section .about_section .about_content .first_para_about {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  * body #about_section .about_section .about_content .brand_name_about {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  * body #about_section .about_section .about_content #about_page_logo {
    margin: 5vh 0 0 0;
    width: 20vw;
    height: 20vw;
  }
  * body #about_section .about_section .about_content .passion_block {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin: 7vh 0 0 0;
  }
  * body #about_section .about_section .about_content .user_interface {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  * body #about_section .about_section .about_content .gig_econ {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  * body #about_section .about_section .about_content .web_3 {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  * body #about_section .about_section .about_content .resume_button_div {
    margin: 10vh 0 0 0vw;
  }
  * body #about_section .about_section .about_content .resume_button_div #dload_resume {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    background-color: #507E81;
    background-color: #146166;
    border-radius: 5px;
    width: 50vw;
    height: 5vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (orientation: portrait) {
  * {
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #080E2F;
  }
  body .nav_section {
    display: flex;
    justify-content: space-between;
  }
  body .nav_section .courdevs_slide_menu_logo #courdevs_top_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    margin: 1.5vh 0 0 7vw;
    border: none;
    border-radius: 5px;
    padding: 3vw;
    background-color: #080E2F;
    opacity: 0;
  }
  body .nav_section .courdevs_slide_menu_logo #courdevs_top_logo.appear {
    opacity: 1;
    transition: 0.2s all ease-in;
  }
  body .nav_section .the_top_nav {
    display: flex;
    justify-content: space-between;
    background-color: #080E2F;
    position: sticky;
    top: 0;
    z-index: 98;
    height: 15vh;
    transition: 2s all ease-in-out;
  }
  body .nav_section .the_top_nav .you {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 0.5vh;
    margin: 3vh 0 0 -60vw;
    opacity: 0;
    transition: 0.5s all ease-in-out;
  }
  body .nav_section .the_top_nav .you #name {
    color: white;
    font-size: 5vw;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin: 0 0 0 0vw;
  }
  body .nav_section .the_top_nav .you .desc_menu_box {
    background-color: #36395D;
    background-color: white;
    background-color: #080E2F;
    padding: 0 2vw 0 2vw;
    border-radius: 5px;
    border: 2px solid white;
  }
  body .nav_section .the_top_nav .you .desc_menu_box #job_description {
    color: white;
    font-size: 3.3vw;
    font-family: "Roboto", sans-serif;
  }
  body .nav_section .the_top_nav .hamburgermobile .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 20vw;
    border: none;
    background-color: #080E2F;
    margin: 3vh -25vw 0 0vw;
  }
  body .nav_section .the_top_nav .hamburgermobile .burger #top_hamburger {
    position: relative;
    width: 11vw;
    height: 10vw;
    transition: 1s all ease-in-out;
  }
  body .nav_section .the_top_nav .hamburgermobile .burger #top_hamburger.dissapear {
    opacity: 0;
    transition: 0.5s all ease-in-out;
  }
  body .nav_section .the_top_nav .hamburgermobile .burger #hamburger_close {
    position: absolute;
    width: 15vw;
    height: 15vw;
    opacity: 0;
  }
  body .nav_section .the_top_nav .hamburgermobile .burger #hamburger_close.appear {
    transition: 0.5s all ease-in;
    opacity: 1;
    z-index: 100;
    background-color: #080E2F;
  }
  body .the_top_nav.dissapear {
    opacity: 0;
    transition: 1s all ease-out;
  }
  body .the_top_nav.appear {
    opacity: 1;
    transition: 0.7s all ease-in;
  }
  body #home_page .home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 100vh;
    margin: -20vh 0 0 0;
  }
  body #home_page .home_page #courdevelops_logo {
    width: 40vw;
    height: 40vw;
  }
  body #home_page .home_page .name {
    font-size: 8vw;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin: 5vh 0 0 0;
  }
  body #home_page .home_page .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-family: "Inter", sans-serif;
    width: 65vw;
    height: 11vw;
    background-color: white;
    border-radius: 5px;
    margin: 0vh 0 0 0;
    padding: 0 1vh 0 1vh;
  }
  body #home_page .home_page .motto {
    font-size: 4vw;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    margin: 10vh 0 0 0;
  }
  body #home_page .learn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 11vw;
    background-color: #36395D;
    border-radius: 5px;
    margin: -10vh 0 10vh 0;
  }
  body #home_page .learn_more a {
    font-size: 4vw;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  body #about_section .about_section {
    background-color: #00313E;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  body #about_section .about_section .section_title {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 8vw;
    font-weight: bold;
  }
  body #about_section .about_section .about_content {
    margin: 5vh 0 0 12vw;
    width: 75%;
  }
  body #about_section .about_section .about_content .first_para_about {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 3vh 0 0 0;
  }
  body #about_section .about_section .about_content .brand_name_about {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 3vh 0 0 0;
  }
  body #about_section .about_section .about_content #about_page_logo {
    margin: 3vh 0 0 0;
    width: 35vw;
    height: 35vw;
  }
  body #about_section .about_section .about_content .passion_block {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin: 3vh 0 0 0;
  }
  body #about_section .about_section .about_content .user_interface {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 2vh 0 0 0;
  }
  body #about_section .about_section .about_content .gig_econ {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 2vh 0 0 0;
  }
  body #about_section .about_section .about_content .web_3 {
    color: white;
    font-family: "Inter", sans-serif;
    margin: 2vh 0 0 0;
  }
  body #about_section .about_section .about_content .resume_button_div {
    margin: 3vh 0 0 0;
  }
  body #about_section .about_section .about_content .resume_button_div #dload_resume {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    background-color: #507E81;
    background-color: #146166;
    border-radius: 5px;
    width: 70vw;
    height: 10vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */